body{
    margin: 0;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    display: flex;
}

header{
    background-color: rgba(51, 51, 49, 0.9);
    display: flex;
    padding: 0 40px 0 40px;
    position: sticky;
    top: 0;
    z-index: 100;
}

p{
    margin: 0;
}

footer{
    border-top: solid 1px #8d8d8b;
    background-color: #d9d9d9;
    display: flex;
    justify-content: center;
    padding: 40px 0 40px 0;

}

.catalogue{
    width: 75%;
}

.cart{
    width: 25%;
}

.logo{
    width: 10%;
}

.flex{
    display: flex;
    align-items: center;
}

.top-bar{
    display: flex;
    color: #8d8d8b;
    width: 90%;
    border-bottom: solid 1px #ffffff;
    align-items: center;
    justify-content: space-between;
}

.header-text{
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
}

.phone{
    font-size: 20px;
    margin-bottom: 0;
}

.free-delivery{
    font-size: 16px;
    margin-bottom: 0;
}

.working-hours{
    margin-bottom: 0;
}

.orange-button{
    background-color: #eea128;
    color: white;
    border-radius: 5px;
    border: 1px solid #ce881b;
    height: 35px;
    padding: 0 12px 0 12px;;
}

.bars{
    width: 90%;
}

.section-title{
    color: #fff;
    font-size: 16px;
    margin: 10px 0 10px 0;
}

.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #fffff5;
}

.title-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.amount{
    font-size: 16px;
    color: #fff;
    background-color: #eea128;
    border-radius: 40%;
    margin-left: 10px;
    padding: 0 10px 0 10px;
    line-height: 25px;
}

.category-name{
    border: none;
    background-color: #fffff5;
    color: #eea128;
    padding: 7px 10px 7px 10px;
    border-radius: 5px;
}

.selected-category{
    background-color: #eea128;
    color: #fff;
}

.menu{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    justify-content: center;
    margin-bottom: 20px;
}

.pizza{
    width: 260px;
    border-radius: 5px;
    border: 1px solid #8d8d8b;
    background-color: white;
    color: black;
    padding: 10px 10px 10px 10px;
}

.pizza-image{
    width: 250px;
    height: 250px;
}

.pizza-name{
    font-size: 28px;
    color: #ee700c;
    font-weight: bold;
    margin: 0;
}

.pizza-style{
    margin: 0;
    color: #b4b4b4;
    font-size: 12px;
}

.sizes-container{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    display: flex;
}

.size{
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icon-text{
    margin-left: 5px;
}

.price-tag{
    font-size: 26px;
    font-weight: bold;
    margin: 0;
}

.price-container{
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-text{
    text-align: center;
}

.cart-header{
    display: flex;
    justify-content: space-between;
    padding: 20px 10px 20px 10px;
    align-items: center;
}

.cart-description{
    font-size: 12px;
    color: #b4b4b4;
}

.order-params{
    width: 25%;
    justify-content: space-between;
}

.cart-item{
    background-color: #f1f1f1;
    border-bottom: 1px solid #8d8d8b;
    padding: 10px 0 10px 25px;
}

.order-name{
    color: #eea128;
    font-size: 20px;
}

.order-price{
    font-weight: bold;
}

.round-button{
    border-radius: 50%;
    color: #fff;
    width: 25px;
    height: 25px;
    font-weight: bold;
}

.minus-button{
    background-color: #c63028;
    border: 1px solid #ad2a23;
}

.plus-button{
    background-color: #2c8c2c;
    border: 1px solid #1f6b1f;
}

.cross-button{
    background-color: #fff;
    border: 1px solid #8d8d8b;
    color: #eea128;
}

.order-controls{
    display: flex;
    justify-content: space-between;
}

.order-amount-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.order-amount{
    font-weight: bold;
    margin: 0 10px 0 10px;
}

.cart-item-description{
    width: 60%;
}

.cart-item-image-container{
    width: 40%;
}

.cart-item-image{
    width: 100px;
    height: 100px;
}